<!DOCTYPE html>
<html>
  <body>
    <!-- change IP address here (to the Pi) -->
    <script type="text/javascript">
      var ip_a = "169.254.217.110"
    </script>

    <h1>Client Side</h1>
    <p ><a href=debug ><button>DEBUG</button></a></p>
    <hr>

    <button onclick="sendData('http://' + ip_a + ':5000/DCFD')">Draw Card</button>
    <button onclick="sendData('http://' + ip_a + ':5000/PCFD')">Play Card</button>
    <button onclick="sendData('http://' + ip_a + ':5000/TCFW')">Take Card From Wheel</button>
    <button onclick="sendData('http://' + ip_a + ':5000/PCIW')">Place Card Into Wheel</button>
    <button onclick="sendData('http://' + ip_a + ':5000/turn_stepper?state=L31')">Wheel Left</button> 
    <button onclick="sendData('http://' + ip_a + ':5000/turn_stepper?state=R31')">Wheel Right</button>  
    <button onclick="sendData('http://' + ip_a + ':5000/GTCE')">Closest Empty</button>    

    <!-- button sending script -->
    <script>
      function sendData(url){
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {}
        };
        xhttp.open("GET", url, true);
        xhttp.send();
      }
    </script>

  </body>
</html>
