<!DOCTYPE html>
<html>
<body>

<!-- change IP address here (to the Pi) -->
<script type="text/javascript">
  var ip_a = "169.254.217.110"
</script>

<h3>Servo Control</h3>

<!-- Servo 1 -->
<!-- Servo 0 to 180 degrees -->
<div id="slidecontainer">
  <p> Servo1</p>
  <input type="range" min="0" max="180" value="90" id="range1">
  <p>Value: <span id="range1_value"></span>°</p>
</div>

<script>
var slider1 = document.getElementById("range1");
var output1 = document.getElementById("range1_value");
output1.innerHTML = slider1.value;

slider1.oninput = function() {
  output1.innerHTML = slider1.value;
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {}
};
  xhttp.open("GET", "http://" + ip_a + ":5000/set_servo1?angle=" + slider1.value, true);
  xhttp.send();
}
</script>


<!-- Servo 2 -->
<div id="slidecontainer2">
  <p> Servo2</p>
  <input type="range" min="0" max="180" value="90" id="range2">
  <p>Value: <span id="range2_value"></span>°</p>
</div>

<script>
var slider2 = document.getElementById("range2");
var output2 = document.getElementById("range2_value");
output2.innerHTML = slider2.value;

slider2.oninput = function() {
  output2.innerHTML = slider2.value;
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {}
};
  xhttp.open("GET", "http://" + ip_a + ":5000/set_servo2?angle=" + slider2.value, true);
  xhttp.send();
}
</script>

<h3>Continuous Servo Control</h3>

<div id="slidecontainer3">
  <p> Servo3</p>
  <input type="range" min="0" max="140" value="70" id="range3">
  <p>Value: <span id="range3_value"></span>/10% duty cycle</p>
</div>

<script>
var slider3 = document.getElementById("range3");
var output3 = document.getElementById("range3_value");
output3.innerHTML = slider3.value;

slider3.oninput = function() {
  output3.innerHTML = slider3.value;
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {}
};
  xhttp.open("GET", "http://" + ip_a + ":5000/set_servo3?speed=" + slider3.value, true);
  xhttp.send();
}
</script>


<hr>
<h3>Stepper Control</h3>

<!-- rotate to left -->
<div id="buttonbutton">
  <button name="button" id="leftButt" value="LEFT" type="submit"></button>
</div>

<script>
var leftButt = document.getElementById("leftButt");
var leftButtOut = document.getElementById("leftButt");
leftButtOut.innerHTML = leftButt.value;

leftButt.onclick = function() {
  leftButtOut.innerHTML = leftButt.value;
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {}
  };
  xhttp.open("GET", "http://" + ip_a + ":5000/turn_wheel?state=" + leftButt.value, true);
  xhttp.send();
}
</script>

<!-- rotate to right -->
<div id="buttonbutton">
  <button name="button" id="rightButt" value="RIGHT" type="submit"></button>
</div>

<script>
var rightButt = document.getElementById("rightButt");
var rightButtOut = document.getElementById("rightButt");
rightButtOut.innerHTML = rightButt.value;

rightButt.onclick = function() {
  rightButtOut.innerHTML = rightButt.value;
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {}
  };
  xhttp.open("GET", "http://" + ip_a + ":5000/turn_wheel?state=" + rightButt.value, true);
  xhttp.send();
}
</script>
</body>





<head>
  <script src="static/js/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/socket.io.min.js"></script>
  <script src="static/js/application.js"></script>
  <!-- GET UPDATED JS FROM: -->
  <!-- https://cdnjs.com/libraries/jquery | v3.6.0-->
  <!-- https://cdnjs.com/libraries/socket.io | v4.4.1-->
</head>
<body>
  
</div>

<div class="container" id="content">
  <div class="row">
      <p>Asynchronous page updates will appear here:</p>
      <div id="steps">
      </div> <!-- /#log -->
  </div>
</div>

</body>





</html>

